.languageSingle {
    background: none;
    border: none;
    font-size: 0.875rem;
    font-weight: 600;
    color: #CDD5E0;
    margin-bottom: 15px;
    padding: 5px;
    transition: 0.4s ease-in-out;
    border-radius: 5px;
}
.activeLanguage {
    background-color: #4d5463;
}
.languageSingle:hover {
    cursor: pointer;
    background-color: #dfe9ff2a;
}