header {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    width: 150px;
}
.translateComponents {
    display: grid;
    justify-items: center;
    gap: 20px;
}
@media (min-width: 1200px) {
    .translateComponents {
        grid-template-columns: 1fr 1fr;
    }
}